* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

    background-color: black;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
main,
footer {
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    overflow-y: auto;
    /* Ensures content is scrollable when it overflows */
}

footer {
    background-color: #333;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

header,
footer {
    background-color: #101010;
    color: #404040;
    font-family: "Hack", "Courier New", "monospace";
    font-size: 1rem;
    height: 2rem;
}

footer span:not(:first-child),
header span:not(:first-child) {
    margin-left: 3rem;
}

main p {
    margin-bottom: 20px;
    /* Adds spacing for content */
}

.status-bar {
    text-align: left;
    margin: 0;
    margin-left: 1rem;
    width: 95%;
}

.status-bar a {
    color: #404040;
    text-decoration: none;
}

#editor,
#markdown-preview {
    margin: 0 auto;
    max-width: 900px;
    background: black;
    color: #B3A000;
    font-family: "Hack", "Courier New", "monospace";
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: transparent;
    resize: none;
    outline: none;
    padding-top: 2rem;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#editor::-webkit-scrollbar {
    width: 0 !important;
}

#markdown-preview {
    text-align: justify;
    display: none;
}